{% extends "student/menu.html.twig" %}

{% block content %}
    <div id="wrapper">
        <div id="actions" class="clearfix">
            <div id="info" class="right_panel clearfix">
                <div id="buttons">
                    <a href="{{ path('students.index') }}">
                        <span class="icon"></span> Back
                    </a>
                </div>
            </div>
        </div>
        <div id="content" class="clearfix">
            <div id="table" class="right_panel">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit">{% if form.vars.value.id %}Edit{% else %}Create{% endif %}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}