{% extends "base.html.twig" %}

{% block body %}
    <ul id="menu" class="clearfix">
        <li id="students" class="active">
            <a href="{{ path('students.index') }}">
                <span class="title">Students</span>
                <span class="subtitle">125 student registered</span>
            </a>
        </li>
        <li id="study_groups">
            <a href="#">
                <span class="title">Study groups</span>
                <span class="subtitle">6 study groups with 42 students</span>
            </a>
        </li>
    </ul>
    {% block content %}{% endblock %}
{% endblock %}